{% extends 'adm/layout.html.twig' %}

{% block content %}
<div class="content-wrapper" id="vue-master">

  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4 class="m-0 text-dark">Dashboard</h4>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">{{ content_title }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-header -->

	<div class="container-fluid">
		
    <div class="row">
      
      <div class="col-md-3 col-sm-6 col-12">
        <a href="{{ site_url('adm/rep_trainees') }}">
          <div class="info-box bg-info">
            <span class="info-box-icon"><i class="fas fa-user-astronaut"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Peserta</span>
              <span class="info-box-number">{{ trainee_total }}</span>

              <div class="progress">
                <div class="progress-bar" {{ trainee_percentage }}></div>
              </div>
              <span class="progress-description">
                {{ trainee_total_new }} Peserta baru
              </span>
            </div>
            
          </div>
        </a>
      </div>
		  
    </div>
    
    <div class="row">

      <!-- Left col -->
      <section class="col-lg-7 connectedSortable">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <i class="fas fa-trophy mr-1 mt-2"></i>
              Top Client
            </h3>
            <div class="card-tools">
              <ul class="nav nav-pills ml-auto">
                <li class="nav-item">
                  <a class="nav-link active" href="#chart1" data-toggle="tab">Bar</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#chart2" data-toggle="tab">Donut</a>
                </li>
              </ul>
            </div>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content p-0">
              <div class="chart tab-pane active" id="chart1">
                <canvas id="barChart"
                  style="height: 350px;"></canvas>
              </div>
              <div class="chart tab-pane" id="chart2">
                <canvas id="pieChart"
                  style="height: 350px;"></canvas>
              </div>
            </div>
          </div><!-- /.card-body -->
        </div>

        <div class="card">
        	<div class="card-header">
        		<h3 class="card-title">
        			<i class="fas fa-calendar mr-1 mt-2"></i>
        			Laporan Tahunan
        		</h3>
        		<!-- <div class="card-tools">
        		</div> -->
        	</div><!-- /.card-header -->
        	<div class="card-body">
              <label>Jumlah Peserta</label>
              <canvas id="traineeChart" style="width: 100%;"></canvas>
              <div style="padding-top: 10%;"></div>
              <label>Jumlah Program</label>
              <canvas id="programChart" style="width: 100%;"></canvas>
        	</div><!-- /.card-body -->
        </div>
      </section>
      <!-- /.Left col -->

      <!-- right col (We are only adding the ID to make the widgets sortable)-->
      <section class="col-lg-5 connectedSortable">

        <div class="card">
          <div class="card-header border-0">
            <h3 class="card-title">
              <i class="fas fa-network-wired mr-1 mt-2"></i>
              Program Berjalan
            </h3>
            <!-- card tools -->
            <div class="card-tools">
              <button type="button" class="btn btn-sm" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
            <!-- /.card-tools -->
          </div>
          <div class="card-body">
            <div style="height: 270px; width: 100%;">
              
              {% if ongoing_program %}
              {% for laporan in ongoing_program %}
              {% set no = no + 1 %}
              <a href="{{ laporan.link }}" class="d-block">
              <div class="info-box {{ laporan.bgcolor }}">
                <span class="info-box-icon text-white"><i class="fas {{ laporan.icon }}"></i></span>

                <div class="info-box-content">
                  <span class="info-box-number text-white">{{ laporan.name }} ({{ laporan.batch }})</span>
                  <span class="info-box-text text-white">{{ indonesian_date(laporan.start_date) }}  -  {{ indonesian_date(laporan.end_date) }}</span>
                </div>

              </div>
              </a>
              {% endfor %}
              {% else %}
                Tidak ada data
              {% endif %}
            
            </div>
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-12">
                <a href="{{ site_url('adm/rep_batches') }}" style="color: black;">
                  <div class="text-black float-right">Selengkapnya</div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card bg-fuel">
          <div class="card-header border-0">
            <h3 class="card-title">
              <i class="fas fa-random mr-1 mt-2"></i>
              Program Public Selanjutnya
            </h3>
            <!-- card tools -->
            <div class="card-tools">
              <button type="button" class="btn btn-sm text-white" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
            <!-- /.card-tools -->
          </div>
          <div class="card-body">
            <div style="height: 270px; width: 100%;">

              {% if next_public_program %}
              {% for laporan in next_public_program %}
              {% set no = no + 1 %}
              <div class="info-box bg-pastelred">
              	<span class="info-box-icon"><i class="fas {{ laporan.icon }}"></i></span>

              	<div class="info-box-content">
              		<span class="info-box-number">{{ laporan.name }} ({{ laporan.batch }})</span>
              		<span class="info-box-text">{{ indonesian_date(laporan.start_date) }} -
              			{{ indonesian_date(laporan.end_date) }}</span>
              	</div>

              </div>
              {% endfor %}
              {% else %}
              Tidak ada data
              {% endif %}

            </div>
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-12">
                <a href="{{ site_url('adm/rep_batches') }}" style="color: white;">
                	<div class="text-black float-right">Selengkapnya</div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <div class="card bg-fuel">
          <div class="card-header border-0">
            <h3 class="card-title">
              <i class="fas fa-compress-arrows-alt mr-1 mt-2"></i>
              Program Inhouse Selanjutnya
            </h3>
            <!-- card tools -->
            <div class="card-tools">
              <button type="button" class="btn btn-sm text-white" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
            </div>
            <!-- /.card-tools -->
          </div>
          <div class="card-body">
            <div style="height: 270px; width: 100%;">

              {% if next_inhouse_program %}
              {% for laporan in next_inhouse_program %}
              {% set no = no + 1 %}
              <div class="info-box bg-cassandrayellow">
              	<span class="info-box-icon"><i class="fas {{ laporan.icon }}"></i></span>

              	<div class="info-box-content">
              		<span class="info-box-number">{{ laporan.name }} ({{ laporan.batch }})</span>
              		<span class="info-box-text">{{ indonesian_date(laporan.start_date) }} -
              			{{ indonesian_date(laporan.end_date) }}</span>
              	</div>

              </div>
              {% endfor %}
              {% else %}
              Tidak ada data
              {% endif %}

            </div>
          </div>
          <div class="card-footer bg-transparent">
            <div class="row">
              <div class="col-12">
                <a href="{{ site_url('adm/rep_batches') }}" style="color: white;">
                	<div class="text-black float-right">Selengkapnya</div>
                </a>
              </div>
            </div>
          </div>
        </div>
        
      </section>
      <!-- right col -->
    
    </div>
  
  </div>

</div>

{% endblock  %}

{% block add_javascript %}
	{{ parent() }}


{% endblock  %}
