<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin - {{ content_title }}</title>

  <!-- <link rel="shortcut icon" type="image/png" href="{{ base_url('assets/images/logo/loop-logo-blue-ic.png') }}"/> -->
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  {% block add_css %}

  <link rel="stylesheet" href="{{ base_url('assets/adminLTE/dist/css/adminlte.min.css') }}">
  <link rel="stylesheet" href="{{ base_url('assets/adminLTE/plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css') }}">
  <link rel="stylesheet" href="{{ base_url('assets/adminLTE/plugins/toastr/toastr.min.css') }}">
  <link rel="stylesheet" href="{{ base_url('assets/adminLTE/plugins/fontawesome-free/css/all.min.css') }}">
  <link rel="stylesheet" href="{{ base_url('assets/adminLTE/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css') }}">
  <!-- <link rel="stylesheet" href="{{ base_url('bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}"></script> -->
  <link rel="stylesheet" href="{{ base_url('bower_components/bootstrap4-fullscreen-modal/dist/bootstrap4-modal-fullscreen.css') }}"></script>
  <link rel="stylesheet" href="{{ base_url('assets/adminLTE/plugins/icheck-bootstrap/icheck-bootstrap.min.css') }}">
  <!-- <link rel="stylesheet" href="{{ base_url('assets/adminLTE/plugins/jqvmap/jqvmap.min.css') }}"> -->
  <link rel="stylesheet" href="{{ base_url('assets/adminLTE/plugins/overlayScrollbars/css/OverlayScrollbars.min.css') }}">
  <link rel="stylesheet" href="{{ base_url('assets/adminLTE/plugins/daterangepicker/daterangepicker.css') }}">
  <link rel="stylesheet" href="{{ base_url('assets/adminLTE/plugins/summernote/summernote-bs4.css') }}">

  <link rel="stylesheet" href="{{ base_url('assets/adminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.css') }}">
  <link rel="stylesheet" href="{{ base_url('assets/adminLTE/plugins/select2/css/select2.min.css') }}">
  <link rel="stylesheet" href="{{ base_url('assets/adminLTE/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ base_url('assets/css/style.new.css') }}">

  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

  {% endblock %}

  <!-- url -->
  <script type="text/javascript">
      window.APP = {
         siteUrl: "{{ site_url() ~ '/' }}",
         baseUrl: "{{ base_url() }}",
         decimal3: function(total) {
              return Math.round(total * 1000) / 1000;
          },
          decimal2: function(total) {
              return Math.round(total * 100) / 100;
          },
          decimalSum: function(integer) {
              return Math.round((integer) * 1e12) / 1e12;
          },
          loader: function() {
              return $('.loader');
          },
          elLoader : '.app-loader',
          requestAjax: function(url, type, data, dataType, fn) {
              $.ajax({
                  url: url,
                  type: type,
                  data: data,
                  dataType: dataType,
                  success: fn
              });
          }
      }
  </script>

</head>
<body class="hold-transition sidebar-mini layout-fixed">

  <div class="wrapper">

  	<!-- Navbar -->
  	<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  		<ul class="navbar-nav">
  			<li class="nav-item">
  				<a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
  			</li>
  		</ul>

  		<form class="form-inline ml-3">
  			<div class="input-group input-group-sm">
				  <span class="app-date"></span>
				  &nbsp;
  				<span class="app-time"></span>
  			</div>
  		</form>

  		<ul class="navbar-nav ml-auto">
  			<li class="nav-item">
                  <a class="nav-link" href="{{ site_url('adm/dashboard/logout') }}">
                    <!-- {% if(logged_user('fullname') != "") %} {{ logged_user('fullname') }}  {% endif %}
                      |  -->
                      Keluar &nbsp;<i class="fas fa-power-off"></i>
  				</a>
  			</li>
  		</ul>
  	</nav>
  	<!-- /.navbar -->

  	<!-- Main Sidebar Container -->
  	<aside class="main-sidebar sidebar-light-info elevation-4">
  		 {% include 'adm/menu.html.twig' %}
  	</aside>
  		
    {% block content %}
    {% include 'adm/content.html.twig' %}
    {% endblock %}
              
  	<!-- /.content-wrapper -->
  	<footer class="main-footer">
		Copyright © 2020 All rights reserved.
		  
  		<div class="float-right d-none d-sm-inline-block">
  			<b>Version</b> 1.0
  		</div>
  	</footer>

  </div>

  <!-- <script>
    $.widget.bridge('uibutton', $.ui.button);
  </script> -->

  {% block add_javascript %}

    <script src="{{ base_url('assets/adminLTE/plugins/jquery/jquery.min.js') }}"></script>
    <script src="{{ base_url('assets/adminLTE/plugins/jquery-form/dist/jquery.form.min.js') }}"></script>
    <script src="{{ base_url('assets/adminLTE/plugins/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ base_url('assets/adminLTE/plugins/jquery-blockui/jquery.blockUI.js') }}"></script>
    <script src="{{ base_url('assets/adminLTE/plugins/moment/moment.min.js') }}"></script>
    <script src="{{ base_url('assets/adminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
    	$.widget.bridge('uibutton', $.ui.button)
    </script>

    <script src="{{ base_url('bower_components/vue/dist/vue.min.js') }}"></script>
    <!-- <script src="{{ base_url('bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script> -->

    <script src="{{ base_url('assets/adminLTE/plugins/sweetalert2/sweetalert2.min.js') }}"></script>
    <script src="{{ base_url('assets/adminLTE/plugins/toastr/toastr.min.js') }}"></script>
    <script src="{{ base_url('assets/adminLTE/plugins/chart.js/Chart.min.js') }}"></script>
	<script src="{{ base_url('assets/adminLTE/plugins/sparklines/sparkline.js') }}"></script>
	<script src="{{ base_url('assets/adminLTE/plugins/select2/js/select2.full.min.js') }}"></script>
    <!-- <script src="{{ base_url('assets/adminLTE/plugins/jqvmap/jquery.vmap.min.js') }}"></script> -->
    <!-- <script src="{{ base_url('assets/adminLTE/plugins/jqvmap/maps/jquery.vmap.usa.js') }}"></script> -->
    <script src="{{ base_url('assets/adminLTE/plugins/jquery-knob/jquery.knob.min.js') }}"></script>
    <script src="{{ base_url('assets/adminLTE/plugins/daterangepicker/daterangepicker.js') }}"></script>
    <script src="{{ base_url('assets/adminLTE/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js') }}"></script>
    <script src="{{ base_url('assets/adminLTE/plugins/summernote/summernote-bs4.min.js') }}"></script>
    <script src="{{ base_url('assets/adminLTE/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js') }}"></script>
    <script src="{{ base_url('assets/adminLTE/dist/js/adminlte.js') }}"></script>
    <!-- <script src="{{ base_url('assets/adminLTE/dist/js/pages/dashboard.js') }}"></script> -->
	<script src="{{ base_url('assets/adminLTE/dist/js/demo.js') }}"></script>
	
	<script src="{{ base_url('assets/adminLTE/plugins/datatables/jquery.dataTables.js') }}"></script>
	<script src="{{ base_url('assets/adminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.js') }}"></script>

	<!-- jquery-validation -->
	<script src="{{ base_url('assets/adminLTE/plugins/jquery-validation/jquery.validate.min.js') }}"></script>
	<script src="{{ base_url('assets/adminLTE/plugins/jquery-validation/additional-methods.min.js') }}"></script>

	<!-- Custom Js -->
	<script src="{{ base_url('assets/js/app/datetime.js') }}"></script>
	<script src="{{ base_url('assets/js/app/input.js') }}"></script>
	<script src="{{ base_url('assets/js/app/form.js') }}"></script>
	<script src="{{ base_url('assets/js/vendor/datepickerlocale.js') }}"></script>

    <script type="text/javascript">
        window.DATETIME.init();

        // tricks tooltip (bug in datatable)
        $("body").tooltip({
            selector: '[data-toggle="tooltip"]',
            trigger : 'hover'
        });
    </script>
  {% endblock %}

  </body>
  </html>
