<!-- Brand Logo -->
  		<a href="https://www.loop-indonesia.com/" class="brand-link">
  			<img src="{{ base_url('assets/images/logo/loop-logo-blue-ic.png') }}" class="brand-image" style="opacity: .8; margin-left: 6.5%;">
  			<span class="brand-text">Loop Indonesia</span>
  		</a>

  		<!-- Sidebar -->
  		<div class="sidebar">
  			<!-- Sidebar user panel (optional) -->
  			<div class="user-panel mt-3 pb-3 mb-3 d-flex">
  				<div class="image">
  					<img src="{{ base_url('assets/adminLTE/dist/img/avatar5.png') }}" class="img-circle" alt="User Image">
  				</div>
  				<div class="info">
  					<!-- <a href="#" class="d-block"> -->
						{% if(logged_user('fullname') != "") %} {{ logged_user('fullname') }} {% endif %}
					<!-- </a> -->
  				</div>
  			</div>

  			<!-- Sidebar Menu -->
  			<nav class="mt-2">
  				<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
					<li class="nav-item">
					<a href="{{ site_url('adm/dashboard') }}" class="nav-link {{ active_link('dashboard') }}">
						<i class="nav-icon fas fa-h-square"></i>
						<p>
							Dashboard
						</p>
					</a>
					</li>

					{% if check_roles('1') or check_roles('2') or check_roles('3') %}
  					<li class="nav-item has-treeview {{ menu_open_master() }}">
  						<a href="#" class="nav-link {{ active_link_master() }}">
  							<i class="nav-icon far fa-folder-open"></i>
  							<p>
  								Master
  								<i class="fas fa-angle-left right"></i>
  							</p>
  						</a>
  						<ul class="nav nav-treeview">
							{% if check_roles('1') or check_roles('2') or check_roles('3') %}
  							<li class="nav-item">
  								<a href="{{ site_url('adm/trainees') }}" class="nav-link {{ active_link('trainees') }}">
  									<i class="far fa-circle nav-icon"></i>
  									<p>Peserta</p>
  								</a>
							</li>
							{% endif %}
							{% if check_roles('1') or check_roles('2') %}
  							<li class="nav-item">
  								<a href="{{ site_url('adm/companies') }}" class="nav-link {{ active_link('companies') }}">
  									<i class="far fa-circle nav-icon"></i>
  									<p>Perusahaan</p>
  								</a>
							</li>
							{% endif %}
  							<!-- <li class="nav-item">
								<a href="{{ site_url('adm/job_titles') }}" class="nav-link {{ active_link('job_titles') }}">
									<i class="far fa-circle nav-icon"></i>
									<p>Jabatan</p>
								</a>
							</li> -->
							{% if check_roles('1') %}
							<li class="nav-item">
								<a href="{{ site_url('adm/requirements') }}" class="nav-link {{ active_link('requirements') }}">
									<i class="far fa-circle nav-icon"></i>
									<p>Persyaratan</p>
								</a>
							</li>
							{% endif %}
  						</ul>
					</li>
					{% endif %}
					{% if check_roles('1') %}
					<li class="nav-item">
					<a href="{{ site_url('adm/programs') }}" class="nav-link {{ active_link('programs') }}">
						<i class="nav-icon far fa-circle"></i>
						<p>
							Program
						</p>
					</a>
					</li>
					{% endif %}
					{% if check_roles('1') or check_roles('2') %}
					<li class="nav-item">
					<a href="{{ site_url('adm/batches') }}" class="nav-link {{ active_link('batches') }}">
						<i class="nav-icon far fa-circle"></i>
						<p>
							Batch
						</p>
					</a>
					</li>
					<li class="nav-item">
						<a href="{{ site_url('adm/grad_requirements') }}" class="nav-link {{ active_link('grad_requirements') }}">
							<i class="nav-icon far fa-circle"></i>
							<p>
								Syarat Kelulusan
							</p>
						</a>
					</li>
					{% endif %}

					{% if check_roles('1') or check_roles('3') %}
					<li class="nav-header">Laporan</li>
					<li class="nav-item">
						<a href="{{ site_url('adm/rep_trainees') }}" class="nav-link {{ active_link('rep_trainees') }}">
							<i class="nav-icon fas fa-file-alt"></i>
							<p>Peserta</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ site_url('adm/rep_companies') }}" class="nav-link {{ active_link('rep_companies') }}">
							<i class="nav-icon fas fa-file-alt"></i>
							<p>Perusahaan</p>
						</a>
					</li>
					<!-- <li class="nav-item">
						<a href="{{ site_url('adm/programs/report') }}" class="nav-link">
							<i class="nav-icon fas fa-file-alt"></i>
							<p>Program</p>
						</a>
					</li> -->
					<li class="nav-item">
						<a href="{{ site_url('adm/rep_batches') }}" class="nav-link {{ active_link('rep_batches') }}">
							<i class="nav-icon fas fa-file-alt"></i>
							<p>Program</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ site_url('adm/rep_meetings') }}" class="nav-link {{ active_link('rep_meetings') }}">
							<i class="nav-icon fas fa-file-alt"></i>
							<p>Pertemuan</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ site_url('adm/rep_progresses') }}" class="nav-link {{ active_link('rep_progresses') }}">
							<i class="nav-icon fas fa-file-alt"></i>
							<p>Progress Peserta</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ site_url('adm/rep_requirements') }}" class="nav-link {{ active_link('rep_requirements') }}">
							<i class="nav-icon fas fa-file-alt"></i>
							<p>Syarat Kelulusan</p>
						</a>
					</li>
					<li class="nav-item">
						<a href="{{ site_url('adm/rep_graduations') }}" class="nav-link {{ active_link('rep_graduations') }}">
							<i class="nav-icon fas fa-file-alt"></i>
							<p>Kelulusan</p>
						</a>
					</li>
					{% endif %}

  					<li class="nav-header">Konfigurasi</li>
  					<li class="nav-item">
  						<a href="{{ site_url('adm/users') }}" class="nav-link {{ active_link('users') }}">
  							<i class="nav-icon fas fa-cog"></i>
  							<p>Pengguna</p>
  						</a>
  					</li>
  				</ul>
  			</nav>
  			<!-- /.sidebar-menu -->
  		</div>
  		<!-- /.sidebar -->