<!-- Brand Logo -->
  		<a href="#" class="brand-link">
  			<img src="{{ base_url('assets/images/logo/unpam-logo.png') }}" class="brand-image" style="opacity: .8; margin-left: 6.5%;">
  			<span class="brand-text text-bold">UNPAM</span>
  		</a>

  		<!-- Sidebar -->
  		<div class="sidebar">
  			<!-- Sidebar user panel (optional) -->
  			<div class="user-panel mt-3 pb-3 mb-3 d-flex">
  				<div class="image">
  					<img src="{{ base_url('assets/adminLTE/dist/img/avatar5.png') }}" class="img-circle" alt="User Image">
  				</div>
  				<div class="info">
  					<!-- <a href="#" class="d-block"> -->
						{% if(logged_user('nama_lengkap') != "") %} {{ logged_user('nama_lengkap') }} {% endif %}
					<!-- </a> -->
  				</div>
  			</div>

  			<!-- Sidebar Menu -->
  			<nav class="mt-2">
  				<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
					<li class="nav-item">
					<a href="{{ site_url('adm/dashboard') }}" class="nav-link {{ active_link('dashboard') }}">
						<i class="nav-icon fas fa-h-square"></i>
						<p>
							Dashboard
						</p>
					</a>
					</li>

					{% if check_roles('1') %}
  					<li class="nav-item has-treeview {{ menu_open_master() }}">
  						<a href="#" class="nav-link {{ active_link_master() }}">
  							<i class="nav-icon far fa-folder-open"></i>
  							<p>
  								Master
  								<i class="fas fa-angle-left right"></i>
  							</p>
  						</a>
  						<ul class="nav nav-treeview">
  							<li class="nav-item">
  								<a href="{{ site_url('adm/karyawan') }}" class="nav-link {{ active_link('karyawan') }}">
  									<i class="far fa-circle nav-icon"></i>
  									<p>Karyawan</p>
  								</a>
							</li>
							<li class="nav-item">
  								<a href="{{ site_url('adm/jabatan') }}" class="nav-link {{ active_link('jabatan') }}">
  									<i class="far fa-circle nav-icon"></i>
  									<p>Jabatan</p>
  								</a>
							</li>
							<li class="nav-item">
  								<a href="{{ site_url('adm/jenis_cuti') }}" class="nav-link {{ active_link('jenis_cuti') }}">
  									<i class="far fa-circle nav-icon"></i>
  									<p>Jenis Cuti</p>
  								</a>
							</li>
  						</ul>
					</li>
					{% endif %}
					
					<li class="nav-item">
						<a href="{{ site_url('adm/persetujuan') }}" class="nav-link {{ active_link('persetujuan') }}">
							<i class="fas fa-tasks nav-icon"></i>
							<p>Persetujuan</p>
						</a>
					</li>
  				</ul>
  			</nav>
  			<!-- /.sidebar-menu -->
  		</div>
  		<!-- /.sidebar -->