{% extends 'adm/layout.html.twig' %}
{% block add_css %}
{{ parent() }}
<style type="text/css">
	@media print {
		@page {
			size: a4 landscape;
		}
	}
	
	/* .wrap-header {} */

	.wrap-footer {
		page-break-inside: avoid;
	}
</style>
{% endblock %}

{% block content %}

<div class="content-wrapper" id="vue-master">

	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h4>{{ content_title }}</h4>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">Beranda</li>
						<li class="breadcrumb-item">Laporan</li>
						<li class="breadcrumb-item"><a href="#">Sisa Cuti</a></li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-12">

					<div class="card card-default">
						<!-- <div class="card-header">
							<h3 class="card-title">Data</h3>
						</div> -->
						<div class="card-body">

							<div class="row">

								<div class="col-md-3">
									<div class="form-group">
										<label>Karyawan</label>
										<select class="form-control select2 select-karyawan" tabindex="2">
											<option value="">(Semua)</option>
											{% if karyawan_data %}
											{% for karyawan_row in karyawan_data %}
												<option value="{{ karyawan_row.karyawan_id }}">{{ karyawan_row.nama_lengkap }}</option>
											{% endfor %}
											{% endif %}
										</select>
									</div>
								</div>

								<div class="col-md-3">
									<div class="form-group">
										<label>Tahun</label>
										<select class="form-control select2 select-tahun" tabindex="2">
											<option value="2020">2020</option>
											<option value="2021">2021</option>
										</select>
									</div>
								</div>

							</div>


							<button class="btn btn-info float-right" style="width: 10%; margin-left: .5%;" @click="getData()">
								<i class="fas fa-sync-alt"></i> &nbsp; Proses
							</button>

							<div class="btn-group float-right" role="group" aria-label="Basic example" style="width: 30%;">
								<button class="btn btn-success float-right" style="width: 100%;" id="button-print">
									<i class="fas fa-print"></i> &nbsp; Print
								</button>
								<button class="btn btn-success float-right" style="width: 100%;" @click="exportExcel()">
									<i class="far fa-file-excel"></i> &nbsp; Export Excel
								</button>
							</div>
						</div>
					</div>

					<div class="card card-default">
						<div class="card-body" id="master-content">

							<div class="wrap-header">
								<h2 align="left">Sisa Cuti</h2>

							<table style="font-size: 12px;" v-if="detailData.length != 0">
								<tr v-if="karyawan != '' && karyawan != '(Semua)'">
									<td>Karyawan</td>
									<td style="width: 3%;">:</td>
									<td><% karyawan %></td>
								</tr>
								<tr v-if="tahun != '' && tahun != undefined">
									<td>Tahun</td>
									<td style="width: 3%;">:</td>
									<td><% tahun %></td>
								</tr>
							</table>
							<br/>
							<table class="table table-bordered" style="font-size: 12px; width:100%;">
								<thead>
									<tr>
										<th>
											NIK
										</th>
										<th>
											Nama Karyawan
										</th>
										<th>
											Jabatan
										</th>
										<th>
											Telepon
										</th>
										<th>
											Email
										</th>
										<th>
											Jatah Cuti/Tahun
										</th>
										<th>
											Jatah Cuti Digunakan
										</th>
										<th>
											Sisa Cuti
										</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(row, detail_idx) in detailData">
										<td>
											<% row.nik %>
										</td>
										<td>
											<% row.nama_lengkap %>
										</td>
										<td>
											<% row.jabatan %>
										</td>
										<td>
											<% row.telepon %>
										</td>
										<td>
											<% row.email %>
										</td>
										<td>
											<% row.jatah_cuti %>
										</td>
										<td>
											<% row.jatah_cuti_digunakan %>
										</td>
										<td>
											<% row.sisa_cuti %>
										</td>
									</tr>
								</tbody>
								<tbody v-if="detailData.length == 0">
									<tr>
										<td colspan="8">
											Tidak ada data yang tersedia pada tabel ini
										</td>
									</tr>
								</tbody>
							</table>
							</div>
						</div>
					</div>

				</div>

			</div>
			<!-- /.row -->
		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->

</div>

{% endblock  %}

{% block add_javascript %}
{{ parent() }}

<script type="text/javascript">
	jQuery(function($) {

    // Function available at https://gist.github.com/sixlive/55b9630cc105676f842c

    $.fn.printDiv = function() {
      var printContents = $(this).html();
      var originalContents = $('body').html();
      $('body').html(printContents);
      $('body').addClass('js-print');
      window.print();
      $('body').html(originalContents);
      $('body').removeClass('js-print');
    };

    // Print
    $('#button-print').click(function() {
      $('#master-content').printDiv();
      setTimeout(function(){
        window.close()
        location.reload();
      },10);
    });

  });
</script>

<script type="text/javascript" src="{{ assets_url('assets/js/app/laporan_sisa_cuti/index.js?') }}"></script>
<script type="text/javascript">
	window.REPORT.init();
	window.DATETIME.initDatePicker();
	window.INPUT.handleSelect2();
</script>
{% endblock  %}