<form class="master-form" action="{{ site_url('adm/trainees/save') }}" method="POST">

	<div class="modal-header">
		<h5 class="modal-title">{{ content_title }}</h5>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">
		<input class="form-control" name="id" value="{{ id }}" type="hidden">

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label">NIP</label>
					<input type="text" class="form-control" id="namecheck" name="code" tabindex="1"
						value="{{ check_array_key(get_data, 'trainee_code') }}" required="required">
				</div>

				<div class="form-group">
					<label class="control-label">Nama Panggilan</label>

					<input type="text" class="form-control" name="nickname" tabindex="3"
						value="{{ check_array_key(get_data, 'trainee_nickname') }}">
				</div>

				<div class="form-group">
					<label>Jenis Kelamin</label>
					<select class="form-control select2" name="gender" tabindex="6" required="required">
						<option value="">- Pilih -</option>
						{% if gender_data %}
						{% for gender_row in gender_data %}
						<option value="{{ gender_row.gender_id }}"
							{% if same(gender_row.gender_id, check_array_key(get_data, 'trainee_gender_id')) %}
							selected="selected" {% endif %}>{{ gender_row.gender_name }}</option>
						{% endfor %}
						{% endif %}
					</select>
				</div>

				<div class="form-group">
					<label class="control-label">Email</label>

					<input type="text" class="form-control" name="email" tabindex="8"
						value="{{ check_array_key(get_data, 'trainee_email') }}" required="required">
				</div>

				<div class="form-group">
					<label>Jabatan</label>
					<input type="text" class="form-control" name="job_title" tabindex="10"
						value="{{ check_array_key(get_data, 'trainee_job_title_id') }}" required="required">
				</div>

			</div>

			<div class="col-md-6">

				<div class="form-group">
					<label class="control-label">Nama Peserta</label>

					<input type="text" class="form-control" name="name" tabindex="2"
						value="{{ check_array_key(get_data, 'trainee_name') }}" required="required">
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label class="control-label">Tempat</label>

							<input type="text" class="form-control" name="pob" tabindex="4"
								value="{{ check_array_key(get_data, 'trainee_placeofbirth') }}">
						</div>

					</div>

					<div class="col-md-8">
						<div class="form-group">
							<label>Tanggal Lahir</label>
							
							<div class="input-group date-input" data-target-input="nearest">
								<input type="text" class="form-control" name="dob" tabindex="5"
									value="{{ change_format_date(check_array_key(get_data, 'trainee_dateofbirth'), 'd/m/Y') }}">
								<div class="input-group-append" data-target=".date-input" data-toggle="datetimepicker">
									<div class="input-group-text"><i class="far fa-calendar"></i></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label">Telepon</label>

					<input type="text" class="form-control" name="telephone" tabindex="7"
						value="{{ check_array_key(get_data, 'trainee_telephone') }}">
				</div>

				<div class="form-group">
					<label class="control-label">Email (Alternatif)</label>

					<input type="text" class="form-control" name="email_alt" tabindex="9"
						value="{{ check_array_key(get_data, 'trainee_email_alt') }}">
				</div>

				<div class="form-group">
					<label>Perusahaan</label>
					<select class="form-control select2" name="company" tabindex="11" required="required">
						<option value="">- Pilih -</option>
						{% if company_data %}
						{% for company_row in company_data %}
						<option value="{{ company_row.company_id }}"
							{% if same(company_row.company_id, check_array_key(get_data, 'trainee_company_id')) %} selected="selected"
							{% endif %}>{{ company_row.company_name }}</option>
						{% endfor %}
						{% endif %}
					</select>
				</div>

			</div>

			<div class="col-md-12">
				<div class="form-group">
					<label class="control-label">Alamat</label>
					<textarea class="form-control" name="address" tabindex="12">{{ check_array_key(get_data, 'company_address') }}</textarea>
				</div>
			</div>
		</div>
	</div>

	{% if check_roles('1') or check_roles('2') %}
	<div class="modal-footer">
		<button type="button" class="btn btn-default waves-effect master-cancel" data-dismiss="modal">Batal</button>

		<div class="btn-group" role="group">
	        <button name="action" value="save" class="btn btn-primary btn-save" type="submit">
	        	Simpan
	        </button>
	        <button type="button" class="btn btn-primary btn-save dropdown-toggle" data-toggle="dropdown"
	        	aria-haspopup="true" aria-expanded="false">
	        </button>
			<div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
				<!-- <a class="dropdown-item" href="#">Dropdown link</a> -->
				<button class="dropdown-item" name="action" value="save_new" type="submit" href="#">Simpan &amp; Baru</button>
				<button class="dropdown-item" name="action" value="save_close" type="submit" href="#">Simpan &amp; Tutup</button>
			</div>
		</div>
	</div>
	{% endif %}

</form>

<script type="text/javascript">

	var elDivID = "#namecheck";
	var elResult = ".result_check";
	var elUrl = "{{ site_url('adm/trainees/check_id') }}";
	var elBtn = ".btn-save";

	window.FORM.handleCheckField2(elDivID, elResult, elUrl, elBtn, "", "");
	window.INPUT.handleSelect2();
	window.DATETIME.initDatePicker();

</script>
