{% extends 'adm/layout.html.twig' %}
{% block add_css %}
{{ parent() }}
<style type="text/css">
	@media print {
		@page {
			size: a4 portrait;
		}
	}

	.wrap-header {

	}

	.wrap-footer {
		page-break-inside: avoid;
	}
</style>
{% endblock %}

{% block content %}

<div class="content-wrapper" id="vue-master">

	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h4>{{ content_title }}</h4>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item">Beranda</li>
						<li class="breadcrumb-item">Persetujuan</li>
						<li class="breadcrumb-item">Cetak</li>
					</ol>
				</div>
			</div>
		</div>
	</section>

	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">

				<div class="col-md-12">

					<div class="card card-default col-md-2 float-right">
						<div class="card-body">
							<button class="btn btn-success" style="width: 100%;" id="button-print">
								<i class="fas fa-print"></i> &nbsp; Print
							</button>
						</div>
					</div>

					<div class="card card-default col-md-12">
						<div class="card-body" id="master-content">

							<div class="wrap-header">















									<table border="0" style="width:100%;">
										<tr>
											{# Column 1 #}
											<td style="width:50%";>
												<div style="border:solid 2px; width:100%">
													<table border="0" width="96%" style="margin:2%; height:200px;">
														<tr>
															<td colspan="3" style="width:35%; font-size:11.5px">
																<address class="float-right">
																PT INFOVESTA UTAMA<br>
																Gedung Total, Lt. 10<br>
																Jl. Let. Jend. S Parman Kav. 106A<br>
																Jakarta Barat 11440<br>
																Telp : (021) 5697 2929 - 33<br>
																Faks : (021) 5697 2930
																</address>
															</td>
														</tr>

														<tr>
															<td colspan="3" class="text-center">
																<br>
																<br>
																<br>
																<h2><u>FORM CUTI</u></h2>
															</td>
														</tr>

														<tr>
															<td colspan="3">
																<br>
																<br>
																Yang bertanda tangan di bawah ini :
																<br>
																<br>
															</td>
														</tr>
														<tr>
															<td style="width:24%">
																Nama
															</td>
															<td style="width:1%">
																:
															</td>
															<td style="width:75%" class="bold">
																{{ karyawan_nama }}
															</td>
														</tr>
														<tr>
															<td>
																Jabatan
															</td>
															<td>
																:
															</td>
															<td class="bold">
																{{ karyawan_jabatan }}
															</td>
														</tr>
														<tr>
															<td colspan="3">
																<br>
																<br>
																Dengan ini mengajukan cuti dari :
																<br>
																<br>
															</td>
														</tr>
														<tr>
															<td valign="top">
																Hari/Tanggal
															</td>
															<td valign="top">
																:
															</td>
															<td>
																{{ masa_cuti }}
															</td>
														</tr>
														<tr>
															<td>
																Masuk Kembali
															</td>
															<td>
																:
															</td>
															<td class="bold">
																{{ masuk_kembali }}
															</td>
														</tr>
														<tr>
															<td>
																Alasan
															</td>
															<td>
																:
															</td>
															<td class="bold">
																{{ jenis_cuti }}
															</td>
														</tr>
														<tr>
															<td>
																Sisa Cuti
															</td>
															<td>
																:
															</td>
															<td class="bold">
																{{ sisa_cuti }}
															</td>
														</tr>
														<tr>
															<td colspan="3">
																<br>
																Demikian pemberitahuan ini. Terima kasih.
																<br>
																<br>
																<br>
																<br>
																<br>
																<br>
																<br>
															</td>
														</tr>
														<tr>
															<td class="text-center" colspan="3">
																<table style="width:100%">
																	<tr>
																		<td>Karyawan</td>
																		<td></td>
																		<td>Mengetahui</td>
																	</tr>
																	<tr>
																		<td><br><br><br><br></td>
																		<td><br><br><br><br></td>
																		<td><br><br><br><br></td>
																	</tr>
																	<tr>
																		<td class="bold">({{ karyawan_nama }})</td>
																		<td></td>
																		<td class="bold">({{ administrator_nama }})</td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</div>
											</td>

											{# Column 2 #}
											<td style="width:50%";>
												<div style="border:solid 2px; width:100%">
													<table border="0" width="96%" style="margin:2%">
														<tr>
															<td colspan="3" style="width:35%; font-size:11.5px">
																<address class="float-right">
																PT INFOVESTA UTAMA<br>
																Gedung Total, Lt. 10<br>
																Jl. Let. Jend. S Parman Kav. 106A<br>
																Jakarta Barat 11440<br>
																Telp : (021) 5697 2929 - 33<br>
																Faks : (021) 5697 2930
																</address>
															</td>
														</tr>

														<tr>
															<td colspan="3" class="text-center">
																<br>
																<br>
																<br>
																<h2><u>FORM HAND OVER</u></h2>
															</td>
														</tr>

														<tr>
															<td colspan="3">
																<br>
																<br>
																Yang bertanda tangan di bawah ini :
																<br>
																<br>
															</td>
														</tr>
														<tr>
															<td style="width:24%">
																Nama
															</td>
															<td style="width:1%">
																:
															</td>
															<td style="width:75%" class="bold">
																{{ penugasan_nama }}
															</td>
														</tr>
														<tr>
															<td>
																Jabatan
															</td>
															<td>
																:
															</td>
															<td class="bold">
																{{ penugasan_jabatan }}
															</td>
														</tr>
														<tr>
															<td>
																Kontak Aktif
															</td>
															<td>
																:
															</td>
															<td class="bold">
																{{ penugasan_kontak }}
															</td>
														</tr>
														<tr>
															<td colspan="3">
																<br>
																<br>
																Dengan ini melakukan hand over pekerjaan pada :
																<br>
																<br>
															</td>
														</tr>
														<tr>
															<td>
																Nama
															</td>
															<td>
																:
															</td>
															<td class="bold">
																{{ karyawan_nama }}
															</td>
														</tr>
														<tr>
															<td>
																Jabatan
															</td>
															<td>
																:
															</td>
															<td class="bold">
																{{ karyawan_jabatan }}
															</td>
														</tr>
														<tr>
															<td valign="top">
																Jenis Pekerjaan
															</td>
															<td valign="top">
																:
															</td>
															<td class="bold">
																{{ jenis_pekerjaan }}
															</td>
														</tr>
														<tr>
															<td colspan="3">
																<br>
																Demikian pemberitahuan ini. Terima kasih.
																<br>
																<br>
																<br>
																<br>
																<br>
																<br>
																<br>
															</td>
														</tr>
														<tr>
															<td class="text-center" colspan="3">
																<table style="width:100%">
																	<tr>
																		<td>Pengaju Hand Over</td>
																		<td></td>
																		<td>Kepala Divisi................</td>
																	</tr>
																	<tr>
																		<td><br><br><br><br></td>
																		<td><br><br><br><br></td>
																		<td><br><br><br><br></td>
																	</tr>
																	<tr>
																		<td class="bold">({{ penugasan_nama }})</td>
																		<td></td>
																		<td>(............................................)</td>
																	</tr>
																</table>
															</td>
														</tr>
													</table>
												</div>
											</td>
										</tr>
									</table>

























							</div>

						</div>
					</div>

				</div>

			</div>
			<!-- /.row -->
		</div><!-- /.container-fluid -->
	</section>
	<!-- /.content -->

</div>

{% endblock  %}

{% block add_javascript %}
{{ parent() }}

<script type="text/javascript">
	// $('[data-widget="pushmenu"]').PushMenu('toggle');

	jQuery(function ($) {

		// Function available at https://gist.github.com/sixlive/55b9630cc105676f842c

		$.fn.printDiv = function () {
			var printContents = $(this).html();
			var originalContents = $('body').html();
			$('body').html(printContents);
			$('body').addClass('js-print');
			window.print();
			$('body').html(originalContents);
			$('body').removeClass('js-print');
		};

		// Print
		$('#button-print').click(function () {
			$('#master-content').printDiv();
			setTimeout(function () {
				window.close()
				location.reload();
			}, 10);
		});

	});
</script>

{% endblock  %}